*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #f4f4f4;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

aside {
    flex: 1;
    padding: 1rem;
    background-color: #f9f9f9;
}

section#allWords {
    flex: 3;
    padding: 1rem;
}


.category-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}


.words-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.words-table th, .words-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.words-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* .words-table tr:nth-child(even) {
    background-color: #f9f9f9;
} */